<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- for every pages -->
    <link rel="stylesheet" href="static/base.css" type="text/css" />
    <!-- for main page -->
    <link rel="stylesheet" href="static/main.css" type="text/css" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>차박GO캠핑</title>
  </head>
  <body>
    <div class="container">
        <!-- NAVBAR -->
        <header>
          <nav class="navbar">
            <div class="navbar__logo">logo</div>
            <ul class="navbar-items">
              <li>HOME</li>
              <li>LOGIN</li>
            </ul>
          </nav>
          <div class="greet">HELLO THIS IS GREETING</div>
        </header>
        <!-- CAMP GROUND LIST -->
        <main>
          <!-- <div class="card-container" id="card-container"> -->
            <!-- <div class="card">
              <div class="card__img">
                <img src="#" alt="#" />
              </div>
              <div class="card__description">
                <h3 class="description__name">name</h3>
                <p class="description__adr">address</p>
              </div>
            </div>
  
            <div class="card">
              <div class="card__img">
                <img src="#" alt="#" />
              </div>
              <div class="card__description">
                <h3 class="description__name">name</h3>
                <p class="description__adr">address</p>
              </div>
            </div>
  
            <div class="card">
              <div class="card__img">
                <img src="#" alt="#" />
              </div>
              <div class="card__description">
                <h3 class="description__name">name</h3>
                <p class="description__adr">address</p>
              </div>
            </div> -->
          
        <!-- </main> -->
        <footer></footer>
      </div>
    <script src="static/main.js"></script>
  </body>
</html>
