<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- for every pages -->
    <link rel="stylesheet" href="static/base.css" type="text/css" />
    <!-- for main page -->
    <link rel="stylesheet" href="static/main.css" type="text/css" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>차박GO캠핑</title>
  </head>
  <body>
    <!-- Modal -->
    <div class="modal-bg"></div>
    <div class="login-modal hidden" id="login-modal">
      <form class="login-form" action="POST">
        <div class="form-control">
          <label for="username">아이디</label>
          <input name="username" type="text" placeholder="username" id="username">
        </div>

        <div class="form-control">
          <label for="password">비밀번호</label>
          <input name="passwword" type="password" placeholder="password" id="password">
        </div>
        <button type="submit" class="btn btn-login">로그인</button>
        <button type="button" class="btn btn-signup">회원가입</button>
      </form>   
    </div>
   <!-- Modal END  -->

    <div class="container" id="content-container">
      <!-- NAVBAR -->
      <header>
        <nav class="navbar">
          <div class="navbar__logo" id="logo">
            <img class="logo-img" src="https://img.icons8.com/emoji/48/000000/camping.png"/>
            <ul class="navbar__items">
              <li class='item-1'>MENU</li>
              <li class='navbar__item item-2'>HOME</li>
              <li class='navbar__item item-3'>REVIEW</li>
              <li class='navbar__item item-4' id="menu-login">LOGIN</li>
            </ul>
          </div>
        </nav>
        <div class="greet">차박GO캠핑</div>
      </header>
      <!-- CAMP GROUND LIST -->
      <main id=main-content>
        <div class="card-container" id="card-container"></div>      
        <!-- <div class="card">
            <div class="card__img">
              <img src="#" alt="#" />
            </div>
            <div class="card__description">
              <h3 class="description__name">name</h3>
              <p class="description__adr">address</p>
            </div>
          </div>

          <div class="card">
            <div class="card__img">
              <img src="#" alt="#" />
            </div>
            <div class="card__description">
              <h3 class="description__name">name</h3>
              <p class="description__adr">address</p>
            </div>
          </div>

          <div class="card">
            <div class="card__img">
              <img src="#" alt="#" />
            </div>
            <div class="card__description">
              <h3 class="description__name">name</h3>
              <p class="description__adr">address</p>
            </div>
           -->
          </div>
      </main>
      <footer></footer>
    </div>
    <script src="static/main.js"></script>
  </body>
</html>
